snippet today "Date"
`date +%F`
endsnippet

snippet checklist "Checklist"
* [ ] $1
endsnippet

snippet question "Question in quote"

	*Question:* $0

endsnippet

snippet mathjax "Mathjax block"
{{$
$0
}}$
endsnippet
