Host dstftp
    HostName ftp.datainscience.com
    User akail
    Port 22
    IdentityFile ~/.ssh/dst-ftp.pem

Host bitwarden
    HostName bw.datainscience.com
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/aws-dst.pem

Host bluefalcon
    HostName 192.168.2.147
    User akail
    Port 22

Host blackfalcon
    HostName 192.168.2.136
    User akail
    Port 22

Host blackfalcon.lan
    HostName 192.168.1.21
    User akail
    Port 22

Host omv
    HostName 192.168.1.236
    User root
    port 22

Host hass
    HostName 192.168.1.100
    User root
    port 22

Host biogen
    HostName pilothead01.hpc.biogen.com
    User akail
    IdentityFile ~/.ssh/dst

Host penguin
    HostName 12.53.5.70
    User akail
    IdentityFile ~/.ssh/dst-rsa


Host aries
    HostName aries.ds.slu.edu
    User akail
    IdentityFile ~/.ssh/dst

Host apex
    HostName apex.slu.edu
    User andrew.kail
    IdentityFile ~/.ssh/dst

Host retropie
    HostName retropie
    User pi

Host haib
    HostName login.cluster.haib.org
    User akail
    IdentityFile ~/.ssh/dst

