---
- hosts: personal,virtualmachines
  tasks:
    - name: Insure ssh directories exist
      file:
        path: '{{ansible_env.HOME}}/.ssh'
        state: directory

    - name: ssh directory permissions
      file:
        path: '{{ansible_env.HOME}}/.ssh'
        mode: '0755'

    - name: Link configuration files
      copy:
        src: "{{playbook_dir}}/files/{{item.src}}"
        dest: "{{ansible_env.HOME}}/{{item.dest}}"
      loop:
        - { src: "ssh_config", dest: ".ssh/config" }

    - name: Copy private keys
      copy:
        src: "{{playbook_dir}}/vault/{{item.src}}"
        dest: "{{ansible_env.HOME}}/.ssh/{{item.dest}}"
        decrypt: yes
        mode: "{{item.perm}}"
      loop:
        - { src: "aws-dst.pem", dest: "aws-dst.pem", perm: "0600"}
        - { src: "dst-ftp.pem", dest: "dst-ftp.pem", perm: "0600"}
        - { src: "id_rsa_blackfalcon", dest: "id_rsa", perm: "0600"}
        - { src: "id_rsa_blackfalcon.pub", dest: "id_rsa.pub", perm: "0644"}
        - { src: "dst.pem", dest: "dst.pem", perm: "0600"}
        - { src: "dst.pub", dest: "dst.pub", perm: "0644"}

