---
- hosts: all
  tasks:
  - name: install neovim
    become: yes
    package:
      name: neovim
      state: present
  - name: install vim
    become: yes
    package:
      name: vim
      state: present
  - name: Install pynvim
    become: yes
    package:
      name: python-pynvim
      state: present

  - name: Insure directories exist
    file:
      path: '/home/akail/{{item.path}}'
      state: directory
      owner: akail
      group: akail
    loop:
      - { path: ".config/nvim"}
      - { path: ".local/share/nvim/site/autoload"}
      - { path: ".vim/autoload"}
      - { path: ".vim/plugged"}
      #- { path: ""}

  - name: Link vim configs
    file:
      src: '{{playbook_dir}}/../init.vim'
      dest: '/home/akail/{{item.dest}}'
      state: link
    loop:
      - { dest: ".config/nvim/init.vim" }
      - { dest: ".vimrc" }
  - name: Link UltiSnips files
    file:
      src: "{{playbook_dir}}/../snippets"
      dest: /home/akail/.config/nvim/UltiSnips
      state: link
  - name: Download vim-plug
    get_url:
      url: "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
      dest: '/home/akail/{{item.dest}}'
      mode: 0644

    loop:
      - { dest: ".local/share/nvim/site/autoload/plug.vim" }
      - { dest: ".vim/autoload/plug.vim" }


